.header {
  background-color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navLink {
  text-decoration: none;
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
  transition: color var(--tra);
  margin: 0 20px;
}

.navLink:hover {
  color: var(--blue);
}

.active {
  color: var(--blue);
}
